.app-container {
    display: flex;
    height: 100vh;
    background-color: var(--bg-body);
    overflow: hidden;
}

/*sidebar*/
.sidebar {
    width: 260px;
    background-color: var(--dark);
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-shrink: 0;
}

.logo-area {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-area h2 {
    color: var(--primary);
    font-weight: 800;
    margin: 0;
}

.badge-pro {
    background: rgba(255, 255, 255, 0.1);
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.7rem;
}

/*itemmenu*/
.nav-menu ul {
    list-style: none;
    padding: 0;
}

.nav-item {
    padding: 12px 15px;
    margin-bottom: 8px;
    border-radius: var(--radius-lg);
    cursor: pointer;
    color: #9CA3AF; /* สีเทาๆ */
    transition: var(--trans-fast);
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav-item:hover, .nav-item.active {
    background-color: var(--dark-light);
    color: var(--primary);
    font-weight: 600;
}

.emergency-btn {
    margin-top: auto;
}

.emergency-btn button {
    width: 100%;
    padding: 12px;
    background: var(--danger);
    color: white;
    border: none;
    border-radius: var(--radius-btn);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(239, 68, 68, 0.4);
}

/*maincontentstyle*/
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.top-bar {
    height: 70px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: var(--shadow-sm);
    z-index: 10;
}

/*searchbox*/
.search-box {
    background: var(--bg-body);
    padding: 8px 16px;
    border-radius: var(--radius-btn);
    display: flex;
    align-items: center;
    gap: 10px;
    width: 350px;
    color: var(--text-muted);
}

.search-box input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-family: inherit;
}

/*profile*/
.user-profile-summary {
    display: flex;
    align-items: center;
    gap: 20px;
}

.points-display {
    background: #FFFBEB;
    color: #B45309;
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9rem;
}

.profile-pic {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-pic img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary);
}

/*Scroll*/
#app-view {
    flex: 1;
    overflow-y: auto;
    padding: 30px;
}