* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: #f0f0f0;
}

@import 'variables.css';
@import 'layout.css';
@import 'dashboard.css';
