/*light*/
:root {
    --primary: #FFC107;
    --primary-hover: #FFD54F;
    
    --bg-body: #F3F4F6;
    --bg-card: #FFFFFF;
    --bg-sidebar: #111111;
    --bg-input: #FFFFFF;
    
    --text-main: #1F2937;
    --text-muted: #6B7280;
    --text-sidebar: #FFFFFF;
    --text-on-dark: #FFFFFF;
    
    --danger: #EF4444;
    --success: #10B981;
    
    --border-color: #E5E7EB;
    --radius-lg: 16px;
    --radius-btn: 50px;
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    --trans-fast: 0.2s ease;
}

/*Dark*/
[data-theme="dark"] {
    --primary: #FFC107;
    --primary-hover: #FFD54F;
    
    --bg-body: #252525;
    --bg-card: #333333;
    --bg-sidebar: #1E1E1E;
    --bg-input: #404040;
    
    --text-main: #E5E5E5;
    --text-muted: #A3A3A3;
    --text-sidebar: #E5E5E5;   
    --text-on-dark: #E5E5E5;
    
    --border-color: #404040;
    
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
}